<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="strativ" translate="label" sortOrder="400">
            <label>Strativ</label>
        </tab>
        <section id="strativ_jsonviewer" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Json Viewer</label>
            <tab>strativ</tab>
            <resource>Strativ_JsonViewer::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Json Viewer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the Json Viewer functionality</comment>
                </field>

                <field id="selected_tables" translate="label comment" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Database Tables</label>
                    <source_model>Strativ\JsonViewer\Model\Config\Source\DatabaseTables</source_model>
                    <comment>Select the database tables you want to work with</comment>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>